.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  max-width: 500px;
  width: 100%;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.cart-detail {
  text-align: center;
}

.cart-detail h2 {
  margin-top: 0;
}

.cart-detail ul {
  list-style-type: none;
  padding: 0;
}

.cart-detail li {
  margin-bottom: 10px;
}

.cart-detail button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-detail button:hover {
  background-color: #0056b3;
}

.products-header {
  margin-top: 20px; /* Adjust the value as needed */
}
