<div class="flex items-center p-2 bg-gray-100 border-b border-gray-300">
  <button class="bg-none border-none cursor-pointer mr-2" (click)="goHome()">
    <img src="assets/home-icon.svg" alt="Home" class="w-6 h-6">
  </button>
</div>

<div class="container mx-auto mt-10">
  <table class="table-auto w-full border-collapse">
    <thead>
      <tr class="bg-gray-100">
        <th class="border px-4 py-2">User Name</th>
        <th class="border px-4 py-2">Date</th>
        <th class="border px-4 py-2">Status</th>
        <th class="border px-4 py-2">Number of Items</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="loading">
        <td colspan="4" class="text-center px-4 py-2">Loading...</td>
      </tr>
      <ng-container *ngIf="!loading">
        <tr *ngFor="let cart of carts" class="cursor-pointer hover:bg-gray-200 even:bg-gray-50" (click)="showCartDetail(cart.id)">
          <td class="border px-4 py-2">{{ cart.user?.firstname }} {{ cart.user?.lastname }}</td>
          <td class="border px-4 py-2">{{ cart.date }}</td>
          <td class="border px-4 py-2">{{ cart.status }}</td>
          <td class="border px-4 py-2">{{ cart.items.length }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div *ngIf="selectedCart" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center">
  <div class="bg-white p-5 rounded max-w-md w-full relative">
    <span class="absolute top-2 right-2 cursor-pointer text-2xl" (click)="closeCartDetail()">&times;</span>
    <app-cart-detail [cart]="selectedCart" (close)="closeCartDetail()"></app-cart-detail>
  </div>
</div>
